[submodule "deps/glwrap"]
	path = deps/glwrap
	url = https://github.com/pfirsich/glwrap.git
[submodule "deps/gltf"]
	path = deps/gltf
	url = https://github.com/pfirsich/gltf
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
